/dev/knvmap             0660    system  system
/dev/nvmap              0666    system  system
/dev/tegra_avp          0660    media   media
/dev/tegra_rpc          0660    media   media
/dev/tegra_sema         0660    media   media
/dev/tegra_mediaserver  0660    media   media
/dev/mt9p111	        0660    media   camera
/dev/mt9d115            0660    media   camera
/dev/tegra_camera       0660    media   camera
/dev/spdif*             0660    system  audio
/dev/ttyACM*            0660    radio   system
/dev/mpu                0640    system  system
/dev/mpuirq             0640    system  system
/dev/nvhdcp0            0660    media   media
/dev/nvhdcp1            0660    media   media
/dev/video0             0666    media   camera
/dev/video1             0666    media   camera
/dev/tf_driver          0666    system  system
/dev/akm8975_dev	0666    system    system
/dev/akm8975_aot	0666    system   system
/dev/kxtf9              0666    root    root
/dev/ttyUSB*		0660	radio	radio
/dev/qcqmi*		0660	radio	radio
